@charset "utf-8";


:root{
    --mainColor : #c86400;
    --menuHeight : 200px
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    list-style: none;
    color: #333;
}

a{
    color: inherit;
    text-decoration: none;
}
img{
    vertical-align: bottom;
}

/* header */
header{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    position: relative;
    z-index: 100;
}

.logo img{
    width: 200px;
}
nav{
    justify-self: end;
    align-self: flex-end;
    padding-right: 100px;
}
nav::before{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 100%;
    height: 0px;
    background-color: #ccc;
    transition: 0.5s;
}

nav:hover::before{
    height: var(--menuHeight);
}

.mainMenu{
    display: grid;
    grid-template-columns: repeat(4, 160px);
}

.mainMenu > li{
    position: relative;
}
.mainMenu > li > a{
    display: block;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
    background-color: #333;
    text-align: center;
}
.mainMenu > li:hover > a{
    background-color: var(--mainColor);
    
}
.subMenu{
    position: absolute;
    width: 100%;
    background-color: #ccc;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

nav:hover .subMenu{
    height: var(--menuHeight);
}
.subMenu > li > a{
    display: block;
    width: 100%;
    line-height: 36px;
    text-align: center;
    margin-top: 10px;
}
.subMenu > li:hover > a{
    background-color: #c78b4e;
    font-weight: bold;
    color: #fff;
}

/* /header */

/* main */
main{
    width: 1200px;
    margin: 0 auto;
}


/* --slide */

.slideWrap{
    height: 300px;
    position: relative;
    overflow: hidden;
}

.slideItem{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: 2s;
}
.slideItem.current{
    visibility: visible;
    opacity: 1;
}

.slideItem h2{
    position: absolute;
    display: block;
    color: #fff;
    bottom: 0;
    right: 100px;
    padding: 10px 20px;
    background-color: var(--mainColor);
    font-size: 36px;
}

/* --/slide */


.boardWrap{
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 400px;
    grid-template-areas: "notice gallery shortcut";
}
.sectionTitle{
    padding: 10px;
}
.notice{
    grid-area: notice;
    display: grid;
    grid-template-rows: max-content auto;
}

.notice ul{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notice li{
    position: relative;
}


.notice li:before{
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #333;
    border-radius: 50%;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.notice li a{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 20px;
    
}

.notice li p{
    line-height: 24px;
    color: inherit;
}
.notice li:hover::before{
    background-color: #fff;
}

.notice li:hover a{
    background-color: #333;
    color: #fff;
}


.gallery{
    grid-area: gallery;
    display: grid;
    grid-template-rows: max-content auto;
}


.gallery ul{
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.gallery li{
    position: relative;
}
.gallery li:hover a::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    
}

.shortcut{
    grid-area: shortcut;
}

.sectionInner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionInner::before{
    content: "";
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
}
.sectionInner h2{
    position: absolute;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    width: 80%;
    text-align: center;
    padding: 10px;
}
.sectionInner img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.shortcut:hover ::before{
    display: block;
}
.shortcut:hover h2{
    color: var(--mainColor);
    background-color: rgba(0, 0, 0, 0.7);
}

/* /main */

/* footer */
footer{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: auto auto;
    grid-template-areas: "copyright sns" "copyright family";
    background-color: #999;
}

footer div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright{
    grid-area: copyright;
}

.sns{
    grid-area: sns;
}
.sns ul{
    display: flex;
    gap: 20px;
}

.sns a{
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    border-radius: 10px;
}
.sns img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}


.family{
    grid-area: family;
}


/* /footer */

/* modal */
.modalWrap{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}
.modalWrap.active{
    display: flex;
}


.modal{
    background-color: #eee;
    width: 700px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modal h2{
    margin-bottom: 30px;
}

.modal .btnClose{
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
    align-self: end;
    margin-top: 30px;
}

.modal .btnClose:hover{
    background-color: var(--mainColor);
}
/* /modal */